.cart {
  font-family: 'Montserrat';
  height: 100%;
  display: flex;
}

.line-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.delivery-payment{
  background-color: aliceblue;
  width: 50%;
}

.order-summary {
  text-align: end;
  width: 50%;
}

.summary-header {
  text-align: start;
}

.conf-screen {
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 50%;
  z-index: 1;
}