.cart {
  font-family: 'Montserrat';
  height: inherit;
  display: flex;
}

.line-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.delivery-payment{
  width: 50%;
}

.order-summary {
  background-color: white;
  text-align: end;
  width: 50%;
  overflow: auto;
  padding-bottom: 100px;
}

.summary-header {
  text-align: start;
}

.conf-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.conf-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black solid 2px;
  border-radius: 5px;
  font-size: large;
  text-align: center;
  background-color: #ffcc33;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  z-index: 2;
}

.delivery {
  margin-bottom: 10%;
  font-size: large;
}

.cart-content {
  margin: 10%;
  font-size: large;
}

.remove-btn {
  all: unset;
  cursor: pointer;
}

.remove-icon {
  transition: 0.2s;
}

.remove-icon:hover {
  color: #ffcc33;
}

.continue-btn, .pay-now {
  font-family: 'Montserrat';
  font-size: large;
  color: white;
  background-color: #31343a;
  border: black solid 2px;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}

.continue-btn:hover {
  color: black;
  background-color: white;
}

.pay-now:hover {
  color: black;
  background-color: #ffcc33;
}

.total-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 1%;
}

.total-details h3 {
  font-size: x-large;
}

.sub-head {
  font-family: 'Permanent Marker', cursive;
  font-size: x-large;
  text-align: left;
  margin: 5% 0 0 9%;
}

.cart-content .material-symbols-outlined {
  font-size: 30px;
}

@media (max-width: 600px){
  .cart {
    display: flex;
    flex-direction: column-reverse
  }
  .order-summary, .delivery-payment{
    width: 100%;
  }
  .delivery {
    height: 50%;
    margin: 0 5% 0 5%;
    font-size: medium;
  }
  .cart-content, .delivery-details{
    margin: 0%;
  }
  .cart-content {
    margin: 5%
  }
  .delivery-details{
    display: flex;
  }
  .delivery-payment{
    height: 900px;
  }
  .sub-head {
    margin-left: 5%;
  }
  .conf-screen{
    width: 80%;
    height: 30%;
  }
}
