.order-card {
  font-family: 'Montserrat';
  color: white;
  border-radius: 15px;
  border: 3px #31343a solid;
  background-color: #31343a;
  width: 35vmin;
  height: 35vmin;
  margin: 2vmin;
  overflow: auto;
}

.order-content {
  margin: 5%;
}

.order-content .line-items p {
  margin: 1%;
}