.menu {
  display: flex;
}

.menu-options {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 10%;
  background-color: orange;
}

.menu-options > ul, li {
  font-size: x-large;
  color: black;
  padding: 0;
  list-style-type: none;
}

.menu-options li {
  margin-top: 15%;
  margin-bottom: 15%;
}

.type-container {
  width: 90%;
  border: 2px solid whitesmoke;
}