.menu {
  display: flex;
  height: inherit;
}

.menu-options {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 15%;
  background-color: #ffcc33;
  border-right: 3px rgb(165, 139, 9) solid;
}

.menu-options > ul, li {
  font-size: x-large;
  color: black;
  padding: 0;
  list-style-type: none;
}

.menu-options li {
  margin-top: 15%;
  margin-bottom: 15%;
  transition: 0.2s;
}

.menubar a {
  text-decoration: none;
}

.menubar a:hover li {
  background-color: white;
}

.menubar a.active li {
  text-decoration: none;
  color: white;
  background-color: #31343a;
}

.type-container {
  width: 85%;
  overflow: auto;
}

@media (max-width: 600px){
  .menu{
    display: flex;
    flex-direction: column;
  }
  .menu-options {
    display: flex;
    width: 100%;
    border-bottom: 3px white solid;
  }
  .menu-options li {
    margin: 1%;
    border-radius: 10px;
  }
  .menubar {
    display: flex;
  }
}