.menu {
  display: flex;
}

.menu-options {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 10%;
  background-color: #ffcc33;
  border-right: 3px white solid;
}

.menu-options > ul, li {
  font-size: x-large;
  color: black;
  padding: 0;
  list-style-type: none;
}

.menu-options li {
  margin-top: 15%;
  margin-bottom: 15%;
}

.menubar a {
  text-decoration: none;
}

.menubar a:hover li {
  color: black;
}

.menubar a.active li {
  text-decoration: none;
  color: white;
  background-color: #31343a;
}

.type-container {
  width: 90%;
}
