.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 10%;
  background-color: blueviolet;
}

main {
  height: 85%;
  background-color: gainsboro;
}

.cart-banner {
  font-size: x-large;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cart-banner > p {
  margin: 0%;
}

footer {
  height: 10%;
  background-color: violet;
}