.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 10%;
  background-color: #31343a;
  border-bottom: 3px white solid;
}

main {
  min-height: 80%;
  background-color: gainsboro;
}

.cart-banner {
  font-size: x-large;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cart-banner > p {
  margin: 0%;
}

footer {
  font-family: 'Montserrat';
  border-top: 2px solid #ffcc33;
  color: white;
  letter-spacing: 2px;
  height: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: #31343a;
}

.checkout {
  font-family: 'Montserrat';
  font-size: large;
  background-color: #ffcc33;
  color: black;
  border: 2px white solid;
  border-radius: 5px;
  transition: 0.2s;
}

.checkout:hover {
  background-color: white;
  border: 2px white solid;
}
