.app {
  display: flex;
  flex-direction: column;

}

main {
  height: 85vh;
  background-color: rosybrown;
}

header {
  height: 10vh;
  background-color: blueviolet;
}

footer {
  height: 5vh;
  background-color: violet;
}