nav {
  height: 100%;
}

nav > ul {
  height: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  font-family: 'Permanent Marker', cursive;
  color: #ffcc33;
  font-size: xx-large;
  transition: 0.2s;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover li {
  color: white;
}

.navbar a.active li {
  text-decoration: overline;
  color: white;
}
/* 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
} */
