.home {
  height: inherit;
  background-color: #ffcc33;
}

.display-banner{
  width: 100%;
  border-bottom: solid white 3px;
}

.home h2 {
  text-align: center;
  margin: 0%;
}

.orders-container{
  height: 38%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  overflow: auto;
}

.orders-container button {
  display: none;
}

.no-orders {
  font-family: 'Montserrat';
}

@media (max-width: 600px){
  .home {
    margin-top: 12%;
    overflow: auto;
  }
  .home h2 {
    margin-top: 5%;
  }
  .display-banner{
    display: none;
  }
  .orders-container{
    height: auto;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50%;
  }
}