.home {
  height: 100%;
}

.display-banner{
  text-align: center;
  height: 40%;
  background-color: orange;
}

.home h2 {
  text-align: center;
}

.orders-container{
  height: 45%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  overflow: auto;
}

.orders-container button {
  display: none;
}

.no-orders {
  font-family: 'Montserrat';
}