
html, body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}

body > div {
  height: 100%;
  font-family: 'Permanent Marker', cursive;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


@media (max-width: 600px){
  .display-banner{
    display: none;
  }
  .drink-card{
    overflow-y: hidden;
    width: 100%;
  }
}
